@import 'css/reset.css';
@import 'base64.less';

/**
 	- MIXINS 
 **/

.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.box-shadow(@property) {
	-webkit-box-shadow: @property;
	-moz-box-shadow: @property;
	box-shadow: @property;
}
.box-sizing(@property) {
	-webkit-box-sizing: @property;
	-moz-box-sizing: @property;
	box-sizing: @property;
}

/**
 	- MIXINS END 
 **/

body {
	background: #fff;
	font-family: Helvetica, sans-serif;
	overflow-y: hidden;
}

a {
	color: #16AEFF;
}


input, button, textarea {
	font-family: "Lucida Grande", Helvetica, sans-serif;
}

input[type="text"] {
	padding: 7px;
	.box-sizing(border-box);
	.box-shadow(inset rgba(0, 0, 0, .2) 1px 1px 2px);
	font-size: 14px;
	background-color: #fff!important;
	border: 1px solid #888;
	.border-radius(3px);
	
	&:focus {
		outline: none;
		border-color: hsla(205, 100%, 50%, 1); 
		.box-shadow(hsla(205, 100%, 50%, 1) 0 0 3px);
	}
}
input[type="submit"], input[type="button"] {
	padding: 7px 15px;
	font-size: 14px;
	.border-radius(3px);
	margin-left: 0px;
	border: 1px solid #888;
	-webkit-box-shadow: inset #fff 0 1px 1px;
	text-shadow: #fff 1px 1px 1px;
	color: #5f6b73;
	font-weight: 700;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f2), to(#dbe4e8));
	display: inline-block;
	cursor: pointer;
	
	&:active {
		position: relative;
		top: 1px;
	}

	&:hover, &:focus {
		outline: none;
		border-color: hsla(205, 100%, 50%, 1); 
		.box-shadow(hsla(205, 100%, 50%, 1) 0 0 3px);
	}
	
	&.cancel {
		font-size: 12px;
		color: #666;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ddd));
	}
}


#head {
	height: 70px;
	background-color: #224e71;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #224e71), to(#204257));
	border-bottom: 1px solid #000;
	.box-shadow(rgba(0, 0, 0, .3) 0 3px 2px, inset rgba(255, 255, 255, .2) 0 -1px 0 0);
	position: relative;
	z-index: 3;
	
	h1 {
		font-size: 33px;
		float: left;
		height: 70px;
		line-height: 68px;
		padding: 0 30px;
		color: #eee;
		text-shadow: -1px -1px #000;
	}
	
	menu {
		list-style: none;
		margin: 10px;
		display: block;
		float: left;
		overflow: hidden;
		margin-top: 20px;
		margin-left: 100px;
		
		li {		
			float: left;
			margin-right: 50px;
			.box-shadow(rgba(0, 0, 0, .2) 0 3px 2px);
			.border-radius(3px);
			
			button {
				background-color: #fff;
				background: -moz-linear-gradient(top, #fff, blue);
				padding: 7px 20px;
				border: 1px solid #000;
				margin: 0;
				float: left;
				cursor: pointer;
			}
			button:active {
				position: relative;
				top: 1px;
			}
			
			button:first-of-type {
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				border-right: 0;
			}
			button:last-of-type {
				border-left-color: #888;
				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
			}
		}
	}
}

#col-mover {
	position: absolute;
	left: 250px;
	height: 400px;
	width: 1px;
	background: #000;
	cursor: col-resize;
}


#main {
	height: 100%;
	
	#left {
		float: left;
		min-width: 150px;
		width: 200px;
		max-width: 400px;
		position: absolute;
		top: 70px;
		bottom: 0;
		font-family: Helvetica;
		.box-shadow(inset #fff -1px 0 1px);
		z-index: 2;
		.eee_noice();
		
		h1 {
			padding: 20px 12px;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}
		li {
			padding: 6px 20px;
			font-size: 14px;
			cursor: pointer;
			line-height: normal;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			
			&[contenteditable]:focus {
				cursor: text;
				background: #fff!important;
				border-top: 1px solid #8C9297;
				border-bottom: 1px solid #8C9297;
			}
			&[contenteditable]:focus + .selected { border-top: 0; }
			&.selected[contenteditable]:focus {
				color: #000;
				text-shadow: none;
			}
			&.selected {
				color: #fff;
				text-shadow: rgba(0, 0, 0, .2) -1px -1px;
				border-top: 1px solid #8C9297;
				border-bottom: 1px solid #8C9297;
				.box-shadow(inset rgba(255, 255, 255, .2) 0 1px 1px);
				background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A6B3BD), to(#91a0af));
			}
		}
		
		.secondary {
			li {
				list-style: none;
				padding-left: 10px;
				
				&:before {
					background-image: url(gfx/icons.png);
					background-repeat: no-repeat;
					content: "";
					padding-left: 25px;
					height: 16px;				
				}
				
				&#openTrash:before { background-position: 0 -25px; }
				&#openLog:before { background-position: 0 0; }
			}
		}
		
		#addBudget {
			margin: 15px 5px;
			padding: 10px;
			border-top: 1px solid #ddd;
			position: relative;
			
			p {
				margin-right: 65px;
				
				input[type="text"] {
					.box-sizing(border-box);
					width: 100%;
				}
			}
			
			input[type="submit"] {
				position: absolute;
				top: 10px;
				right: 8px;
				
				&:active {
					top: 11px;
				}				
			}
		}
		
		#col-sizer {
			width: 5px;
			height: 100%;
			background: transparent;
			position: absolute;
			top: 0;
			right: -1px;
			cursor: col-resize;
			
			/* Small trick, so we can keep the resize width wide,
			   but only show a 1px line */
			&:after {
				width: 1px;
				height: 100%;
				content: "";
				position: absolute;
				left: 4px;
				background: #888;
			}
		}
		
	}
	
	#right {
		margin-left: 200px;
		position: relative;
		
		.view { display: none; }
		
		#budgetInfo {
			.eee_noice();
			border-bottom: 1px solid #888;
			padding: 20px;
			overflow: hidden;
			
			.meta {
				float: left;
				h1 {
					margin-bottom: 10px;
					font-size: 25px;
				}
				.description {
					font-size: 14px;
				}
			}
			
			#toolbar {
				float: right;
				list-style: none;
				
				#export_budget {
					background: url(boxupload32.png) no-repeat center 5px;
					text-indent: -9999px;
					cursor: pointer;
					height: 40px;
					width: 32px;
					border: 0;
					
					&:hover { background-position: center -35px; }
					&:active { background-position: center -75px; }
				}
				
				#import_budget {
					background: url(gfx/import.png) no-repeat center 5px;
					text-indent: -9999px;
					cursor: pointer;
					height: 40px;
					width: 32px;
					border: 0;
					
					&:hover { background-position: center -35px; }
					&:active { background-position: center -75px; }
				}
			}
		}
		
		#addRowForms {
			padding: 10px;
			.eee_noice();
			border-bottom: 1px solid #888;
			overflow: hidden;
			.box-shadow(inset rgba(0, 0, 0, .2) 0 0 3px);
			
			form {
				width: 50%;
				float: left;
							
				input[type="text"] {
					padding: 7px;
					.box-sizing(border-box);
					.box-shadow(inset rgba(0, 0, 0, .2) 1px 1px 2px);
					font-size: 14px;
					width: 400px;
					border: 1px solid #888;
					.border-radius(3px);
					
					&:focus {
						outline: none;
						border-color: hsla(205, 100%, 50%, 1); 
						.box-shadow(hsla(205, 100%, 50%, 1) 0 0 3px);
					}
				}
			}
		}
		
		#budgetView {
			position: relative;
			
			#budgetTables {

				div {
					width: 50%;
					
					&.outcome { float: left; }
					&.income { float: right; }									
					
					&:first-child { border-right: 1px solid #ddd; }
					&:last-child {
						border-left: 1px solid #ddd;
						position: relative;
						.box-sizing(border-box);
						margin-left: -1px;
					}
					
					table {
						width: 100%;
					
						.col1 {
							width: 300px;
							min-width: 200px;
							max-width: 400px;
						}
						
						tbody {
							cursor: move;

							tr {

								th, td {
									border-bottom: 1px solid #ddd;
									font-weight: 400;
									font-size: 14px;
									line-height: 1.4;
									padding: 5px 10px;
								}
								
								input[type="button"] {
									position: absolute;
									left: 5px;
									margin-top: 2px;
									background: url(gfx/icons.png) no-repeat 0 -50px;
									text-indent: -9999px;
									border: 0;
									display: none;
						
									&:active {
										top: auto;
									}
								}
								
								&:hover input[type="button"] {
									display: block;
									.box-shadow(none);
								}

							}
						}
						
						.ui-drag-helper {
							th {
								border-right: 0!important;
							}
						}
						
						tbody th {
							width: 150px;
							text-align: right;
							border-right: 1px solid #888;
							cursor: text!important;
						}
						
						tfoot { display: none; }
					}
				}
			}
			
			#budget-col-sizer {
				position: absolute;
				height: 100%;
				width: 1px;
				background: #888;
				top: 0;
				left: 300px;
				cursor: col-resize;
			}
			
		}
		
		#nobudgetsform {
			padding: 15px 5px;
			padding-left: 55px;
			width: 350px;
			margin: 250px auto;
			border: 1px solid #A0A0A0;
			background: #F0F0F0 url(gfx/spreadsheet.png) no-repeat 10px 10px;
			.border-radius;
			.box-shadow(inset rgba(0, 0, 0, .2) 1px 1px 3px);
			
			p {
				font-size: 14px;
				line-height: 1.4;
				margin-bottom: 10px;
				color: #494949;
				text-shadow: #fff 1px 1px 1px;
			}
			
			label, label span {
				display: block;
				
				input[type="text"] {
					width: 250px;
				}
			}
			label {
				padding: 10px 0;
			}
		}
		
		.scroll-area {
			overflow-y: auto;
			position: relative;
		}
		
		#totalFixed {
			height: 30px;
			background-color: #EDEDED;
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EDEDED), to(#D9D9D9));
			font-size: 14px;
			border-top: 1px solid #888;
			left: 0;
			z-index: 0;
			width: 100%;
			.box-shadow(rgba(0, 0, 0, .1) 0 -1px 2px, inset #fff 0 1px 1px);
			
			dl {
				padding: 0 10px;
				line-height: 30px;
				
				dt, dd { display: inline; }
				
				dt {
					font-weight: 700;
					
					&:after {
						content: ':';
					}
				}
				
				dd {
					margin-right: 40px;
					font-style: italic;
					
					&.negative {
						color: #A61414;
					}
					&.positive {
						color: #1C8835;
					}
				}
			}
		}
		
		.view.inactiveView {
			
			.scroll-area {
				padding: 20px;
				.box-sizing(border-box);
			}
			
			.budgetList {
				list-style: none;
				width: 100%;
				.box-sizing(border-box);
				
				&.log li {
					cursor: pointer;
					
					&:hover {
						.box-shadow(rgba(0, 0, 0, .3) 0 1px 3px);	
						border-color: #999999;
						
						&.expanded {
							border-color: #ddd;
							.box-shadow(none);
						}
					}
				}
				
				li {
					padding: 10px;
					border: 1px solid #ddd;
					.border-radius;
					margin-bottom: 5px;
					font-size: 14px;
					border-bottom: 1px solid #ddd;
					background-color: #F5F5F5;
					background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5F5F5), to(#F0F0F0));
					
					button {
						float: right;
						position: relative;
						top: -4px;
					}
					
					table {
						display: none;
						background: rgba(255, 255, 255, .5);
						width: 100%;
						border: 1px solid #DCDCDC;
						border-collapse: collapse;
						
						thead {
							th {
								text-align: center;
							}
						}
						
						td, th {
							text-align: left;
							padding: 5px;
							border: 1px solid #C9C9C9;
							width: 25%;
							.box-sizing(border-box);
						}
						
						tfoot {
							border-top: 2px solid #C9C9C9;
							th {
								text-align: right;
							}
							
							td.negative { color: #A61414; }
							td.positive { color: #1C8835; }
						}
					}
					
					&.expanded table {
						display: table;
					}
				}
			}
			
			.empty-list {
				font-size: 14px;
				text-align: center;
				background: #eee;
				padding: 10px;
				color: #888;
				text-shadow: #fff 1px 1px 1px;
				border: 1px solid #ddd;
				.border-radius;
			}
		}
	}
}

#contextMenu {
	position: absolute;
	background: rgba(255, 255, 255, .95);
	list-style: none;
	z-index: 2;
	left: 10px;
	padding: 4px 0;
	min-width: 150px;
	border: 1px solid #ddd;
	.box-shadow(rgba(0, 0, 0, .1) 0 3px 10px);
	display: none;
	.border-radius;
	
	li {
		padding: 6px 20px;
		font-size: 14px;
		cursor: pointer;
	}
	
	li:hover {
		background: #1E78FF;
		color: #fff;
	}
}

.fancy-bg { display: none; }

#fancybox-outer {
	border: 1px solid #888;
	.border-radius(4px);
	.box-shadow(rgba(0, 0, 0, .4) 0 5px 50px);
	position: relative;
	
	h1 {
		font-size: 22px;
		padding: 20px;
		color: #475058;
		text-shadow: #fff 1px 1px 1px;
		border-bottom: 1px solid #999;
		.box-shadow(inset #fff 0 1px 1px);
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f2), to(#dbe4e8));
	}

	.export_budget {
		width: 500px;
		height: 500px;
		
		p {
			font-size: 12px;
		}
		
		textarea {
			height: 300px;
			resize: none;
			width: 100%;
			border: 1px solid #999;
			padding: 10px;
			font-size: 12px;
			font-family: Monaco, "Courier New", Courier, monospace!important; 
			.box-sizing(border-box);
			.border-radius(3px);
			.box-shadow(inset rgba(0, 0, 0, .1) 3px 3px 3px);
			
			&:focus {
				outline: none;
				border-color: hsla(205, 100%, 50%, 1); 
				.box-shadow(hsla(205, 100%, 50%, 1) 0 0 3px);
			}
		}
	}
	
	.padder {
		padding: 20px;
		
		p {
			font-size: 13px;
			line-height: 1.4;
			margin-bottom: 10px;
			color: #343434;
		}
	}
	
	.buttons {
		padding: 15px 20px;
		bottom: 0;
		background: #F6F6F6;
		border-top: 2px solid #888;
		position: absolute;
		width: 100%;
		.box-sizing(border-box);
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		text-align: right;
		
		input {
			border-radius:(15px);
			padding: 5px 15px;
			display: inline-block;
			cursor: pointer;
		}
	}
}

#settingsWrap { display: none; }