body {
	font-family: Helvetica;
}

#head, #left, #addRowForms, #totalFixed,
#contextMenu, #toolbar, button, input {
	display: none;
}

#budgetTables {
	div {
		float: left;
		
		table {
			width: 300px;
			border: 1px solid #888;
			border-collapse: collapse;
			
			td, th {
				padding: 5px;
				border: 1px solid #888;
			}
		}
	}
}